<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="rodin" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://rodin-b-sharp.sourceforge.net/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.rodinp.platform.product" version="3.2.0.201506220911-ecacdcb"/>
<repository location="http://rodin-b-sharp.sourceforge.net/core-updates/"/>
</location>
</locations>
</target>
